<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>771</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <real>0.6458333134651184</real>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <real>0.4220252335071564</real>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>0</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>300</integer>
    <key>maxRadius</key>
    <integer>100</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.300000011920929</real>
    <key>particleLifespanVariance</key>
    <real>0.300000011920929</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>-1000</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>7</integer>
    <key>sourcePositionVariancey</key>
    <integer>7</integer>
    <key>sourcePositionx</key>
    <real>112.4324340820312</real>
    <key>sourcePositiony</key>
    <real>147.0270233154297</real>
    <key>speed</key>
    <integer>220</integer>
    <key>speedVariance</key>
    <integer>4</integer>
    <key>startColorAlpha</key>
    <real>0.36083984375</real>
    <key>startColorBlue</key>
    <real>0.2721354067325592</real>
    <key>startColorGreen</key>
    <real>0.51318359375</real>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <real>0.6565625071525574</real>
    <key>startColorVarianceBlue</key>
    <real>0.1453125029802322</real>
    <key>startColorVarianceGreen</key>
    <real>0.8167187571525574</real>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>30</integer>
    <key>startParticleSizeVariance</key>
    <integer>15</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <real>-200.7400054931641</real>
    <key>spriteFrameUuid</key>
    <string>a8b674fe-6b0d-4e0e-a9ac-c379f6703296</string>
  </dict>
</plist>